*{
    box-sizing: border-box;
}
.nav{
    height: 92px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #3C3A39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}
.lefthead{
    width: fit-content;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-left: 24px;
    text-align: center;
}
.righthead{
    height: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-right: 24px;

    
}
.menubar{
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
    margin-top: 3px;      
}
.righthead2{
    display: none;
}
@media screen and (min-width: 686px){
    .righthead{
        display: none;
    }
    .righthead2{
        display: flex;
        color: #FFFFFF;
        margin-top: 37px;
        margin-right: 24px;
   }
    .nav{
        width: 100%;
    }
    .list{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type: none;
        font-size: 15px;
        font-family: 'Inter';
    }
    
}