*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.nav{
    height: 92px;
    width: 100%;
    background: #3C3A39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;      
}
.lefthead{
    width: fit-content;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-left: 24px;
    text-align: center;
}
.righthead{
    height: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-right: 24px;    
}
.menubar{
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
    margin-top: 3px;      
}
.righthead2{
    display: none;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 120px 24px;
    background: #1C1A19 url('assets/illustration-header-mobile.svg' )bottom right no-repeat;
    gap: 12px;
}
.intro{
    width: 327px;
    height: 124px;
    font-family: 'Crete Round';
    font-size: 56px;
    color: #FF6B00;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}
.subintro{
    color: #FFF5E1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.content{
    width: 327px;
    height: 123px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.socials{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 200px;
    height: 40px;
    gap: 20px;
    list-style-type: none;
}
#design{
    width: 1003.13px;
    height: 769.27px;
}
@media screen and (min-width: 686px){
    .righthead{
        display: none;
    }
    .righthead2{
        display: flex;
        color: #FFFFFF;
        margin-top: 37px;
        margin-right: 24px;
   }
    .nav{
        width: 100%;
    }
    .list{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type: none;
        font-size: 15px;
        font-family: 'Inter';
    }
    .body{
        display: flex;
        flex-direction: row-reverse;
        background: #1C1A19 url('assets/backdesign.svg') top right no-repeat ;
        align-items: center;
        justify-content: left;
        padding: 192px 0px;
        width: 100%;
        height: 100vh;
        gap: 89px;    
    }
    .subintro{
        padding-right: 52px;
    }
    .socials{
        flex-direction: column;
        width: fit-content;
        padding-left: 17px;
    }
    .large{
        display: flex;
        flex-direction:  row-reverse;
        gap: 30px;
        align-items: stretch;
        width: fit-content;
    }
    .sidebar{
        margin-bottom: 160px;
    }
}
@media screen and (max-width: 1033px){
    .body{
        background: #1C1A19 url('assets/illustration-header-mobile.svg' )bottom right no-repeat;
    }
}